:root {
  --bg-color: #1F6B3A; /* Background Color: Deep green base color */
  --theme-color: goldenrod;
  --dark-theme-color: rgb(179, 128, 1);
  --green-bg-image: url('./images/table.jpg');
  --h1-size: 15vh;
  --msg-size: calc(var(--h1-size) * 0.35);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

body {
  background-color: var(--bg-color);
  background-image: var(--green-bg-image);
  background-size: cover;
  background-position: center;
}

main {
  padding: 2.5vw;
}

p {
  font-size: calc(var(--h1-size) * 0.25);
}

#headerTxt {
  position: relative;
  height: 20px;
}

#playerEl {
  text-align: left;
  margin-left: 15px;
}

#betEl {
  position: absolute;
  top: -10px;
  right: 0;
  text-align: right;
  margin-right: 15px;
}

#playerEl, #betEl {
  font-size: medium;
} 


h1 {
  color: var(--theme-color);
  font-size: var(--h1-size);
}

#messageEl {
  font-style: italic;
  font-size: var(--msg-size);
}
#messageEl span {
  font-style: normal;
}
.lostTxt {
  color: red;
}

button {
  display: block;
  width: calc(var(--h1-size) * 2.5);
  height: calc(var(--h1-size) * 0.65);
  color: var(--bg-color);
  font-size: calc(var(--h1-size) * 0.25);
  font-weight: bolder;
  background-color: var(--theme-color);
  padding: 12px 25px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 30px auto 15px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  border: 2px solid var(--bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
button:active {
  transform: scale(1.1);
  border: 2px solid var(--theme-color);
}
button:focus {
  background-color: var(--dark-theme-color);
}
p + button {
  margin: 13vh auto 0;
}
button.won {
  font-size: calc(var(--h1-size) * 0.28);
  font-weight: 900 !important;
  padding: 0;
}